In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
Location=pd.read_csv('/content/drive/MyDrive/SHL 2021/Validate/Location/Location.csv',low_memory=False)
Location=Location.drop(['Ignore1','Ignore2'],axis=1)
Location.head()

In [ ]:
Label=pd.read_csv("/content/drive/MyDrive/SHL 2021/Validate/Label/Label.csv",low_memory=False)
Label.head()

In [ ]:
print(len(Location))
print(len(Label))

101524
143957

In [ ]:
Location["Label"]=-1

In [ ]:
Location.head()

   Epoch time[ms]  Accuracy of this location[m]  ...  Altitude[m]  Label
0   1497426503550                          96.0  ...   248.937172     -1
1   1497426505561                         128.0  ...   129.362557     -1
2   1497426506564                          96.0  ...   130.095681     -1
3   1497426507564                         128.0  ...   130.184470     -1
4   1497426508567                         128.0  ...   130.184470     -1

[5 rows x 6 columns]

In [ ]:
flag=0
for i in range(len(Label)-1):
  print(i, flag)
  for j in range(flag,len(Location)):
    print(j)
    if (Location["Epoch time[ms]"][j]>=int(Label["Epoch time[ms]"][i]) and Location["Epoch time[ms]"][j]<int(Label["Epoch time[ms]"][i+1])):
      Location.loc[j, 'Label']=Label["Label"][i]
      flag=j+1
      break
    elif Location["Epoch time[ms]"][j]>int(Label["Epoch time[ms]"][i+1]):
      break

In [ ]:
Location["Label"].value_counts()

-1    37705
 2    15438
 5    13498
 4    10632
 1    10348
 7     7117
 6     3335
 8     2542
 3      909
Name: Label, dtype: int64

In [ ]:
Final_Location=Location[Location["Label"]!=-1]

In [ ]:
Final_Location.to_csv("/content/drive/MyDrive/SHL 2021/Validate/Location/Location with Label.csv",index=False)