In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
Location=pd.read_csv('/content/drive/MyDrive/SHL 2021/Train/Location/Location.csv',low_memory=None)
Location=Location.drop(['Ignore1','Ignore2'],axis=1)
Location["Label"]=-1
Location.head()

   Epoch time[ms]  Accuracy of this location[m]  ...  Altitude[m]  Label
0   1490431658118                          64.0  ...    97.664610     -1
1   1490431659760                          48.0  ...   128.267900     -1
2   1490431660766                          48.0  ...   135.611425     -1
3   1490431661765                          12.0  ...   134.436050     -1
4   1490431662768                          32.0  ...   135.993866     -1

[5 rows x 6 columns]

In [ ]:
Label=pd.read_csv("/content/drive/MyDrive/SHL 2021/Train/Label/Label.csv",low_memory=False)
Label.head()

   Epoch time[ms]  Label
0   1490431583000      4
1   1490431584000      4
2   1490431585000      4
3   1490431586000      4
4   1490431587000      4

In [ ]:
flag=0
for i in range(len(Label)-1):
  print(i, flag)
  for j in range(flag,len(Location)):
    print(j)
    if (Location["Epoch time[ms]"][j]>=int(Label["Epoch time[ms]"][i]) and Location["Epoch time[ms]"][j]<int(Label["Epoch time[ms]"][i+1])):
      Location.loc[j, 'Label']=Label["Label"][i]
      flag=j
      break
    elif Location["Epoch time[ms]"][j]>int(Label["Epoch time[ms]"][i+1]):
      break
    else:
      j=j+1

In [ ]:
Final_Location=Location[Location['Label']!=-1]
Final_Location.to_csv("/content/drive/MyDrive/SHL 2021/Train/Location/Location with label.csv",index=False)

In [ ]:
location=pd.read_csv("/content/drive/MyDrive/SHL 2021/Train/Location/Location with label.csv",low_memory=False)
len(location)

661081

In [ ]:
location.head()

   Epoch time[ms]  Accuracy of this location[m]  ...  Altitude[m]  Label
0   1490431658118                          64.0  ...    97.664610      4
1   1490431659760                          48.0  ...   128.267900      4
2   1490431660766                          48.0  ...   135.611425      4
3   1490431661765                          12.0  ...   134.436050      4
4   1490431662768                          32.0  ...   135.993866      4

[5 rows x 6 columns]

In [ ]:
location.tail()

        Epoch time[ms]  Accuracy of this location[m]  ...  Altitude[m]  Label
661076   1499267847130                           6.0  ...   126.568016      5
661077   1499267848129                           8.0  ...   126.626823      5
661078   1499267849131                           8.0  ...   126.724403      5
661079   1499267850136                           8.0  ...   126.844643      5
661080   1499267851132                           8.0  ...   126.969231      5

[5 rows x 6 columns]

In [ ]:
location=pd.read_csv("/content/drive/MyDrive/SHL 2021/Train/Location/Location with label.csv",low_memory=False)