In [ ]:
from google.colab import drive
drive.mount('/content/drive/')
import numpy as np
import pandas as pd

Mounted at /content/drive/

In [ ]:
Final_label=pd.read_csv("/content/drive/MyDrive/SHL 2021/Test/Label/Label.csv")
Final_label['Label']=-1
print(len(Final_label))
Final_label.head()

671172

   Epoch time[ms]  Label
0   2496835246000     -1
1   2496835247000     -1
2   2496835248000     -1
3   2496835249000     -1
4   2496835250000     -1

#Location

In [ ]:
location_test=pd.read_csv("/content/drive/MyDrive/SHL 2021/Test/Location/Location- gonna give label.csv",low_memory=False)
location_prediction=pd.read_csv("/content/drive/MyDrive/SHL 2021/Test/Label/Location_Prediction.csv")
location_test.head()

   Epoch time[ms]        Ignore1  ...  Altitude[m]  ache=1+nai=0
0   2496835324100  1038815559613  ...   104.212435             1
1   2496835325624  1040354089821  ...   103.841576             1
2   2496835326630  1041356676279  ...   104.008815             1
3   2496835327632  1042359188258  ...   104.000552             1
4   2496835328636  1043364980445  ...   103.942761             1

[5 rows x 8 columns]

In [ ]:
location_prediction.head()

   Location_Prediction
0                  5.0
1                  5.0
2                  5.0
3                  5.0
4                  5.0

In [ ]:
flag=0
k=0

for i in range(len(Final_label)-1):
  print(i, flag)
  for j in range(flag,len(location_test)):
    print(j)
    if (location_test["Epoch time[ms]"][j]>=int(Final_label["Epoch time[ms]"][i]) and location_test["Epoch time[ms]"][j]<int(Final_label["Epoch time[ms]"][i+1])):
      Final_label.loc[i, 'Label']=location_prediction['Location_Prediction'][k]
      k=k+1
      flag=j+1
      break

    elif location_test["Epoch time[ms]"][j]>int(Final_label["Epoch time[ms]"][i+1]):
      break

In [ ]:
Final_label.to_csv('/content/drive/MyDrive/SHL 2021/Test/Label/Location- prediction + epoch_time.csv')

# Final Prediction

In [ ]:
prediction=pd.read_csv("/content/drive/MyDrive/SHL 2021/Test/Label/Location- prediction + epoch_time.csv")

In [ ]:
prediction.head()

   Unnamed: 0  Epoch time[ms]  Label
0           0   2496835246000   -1.0
1           1   2496835247000   -1.0
2           2   2496835248000   -1.0
3           3   2496835249000   -1.0
4           4   2496835250000   -1.0

In [ ]:
prediction['Label'][79]

5.0

In [ ]:
for i in range(79):
  prediction.loc[i,'Label']=prediction['Label'][78]

In [ ]:
p=5
for i in range(len(prediction)):
  print(i)
  if prediction['Label'][i]==-1:
    prediction.loc[i,'Label']=p
  else:
    p=prediction['Label'][i]

In [ ]:
prediction.drop(['Unnamed: 0'],axis=1,inplace=True)
prediction.head()

   Epoch time[ms]  Label
0   2496835246000    5.0
1   2496835247000    5.0
2   2496835248000    5.0
3   2496835249000    5.0
4   2496835250000    5.0

In [ ]:
prediction.to_csv("/content/drive/MyDrive/SHL 2021/Test/Label/GPU Kaj Kore Na_predictions.csv",index=False)